body {
  background: #e8e8e8;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
  margin: 0px;
}
.header {
  background: #AAF;
  color: #fff;
}
.tiles {
  display: flex;
  margin: 10px;
}
.tile {
  width: 140px;
  height: 140px;
  padding: 10px;
  margin: 0 10px 10px 0;
  background: #fff;
  box-shadow: 2px 2px 3px #dadada;
}
.tile.green {
  background: #339933;
  color: #fff;
}
.tile.red {
  background: #e51400;
  color: #fff;
}
